.categories {
  &__title {
    font-family: var(--font-filter);
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #121212;
  }
  &__list {
    display: grid;
    gap: 12px;
  }
  &__item {
    font-family: var(--font-filter);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #807e7e;
    transition: color 0.2s ease-in;

    span {
      cursor: pointer;
    }

    &.active span {
      border-bottom: 1px solid #121212;
      color: #121212;
    }

    &:hover {
      color: var(--text-color);
    }
  }
}
