.price {
  &__title {
    font-family: var(--font-filter);
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #121212;
  }
  &__list {
    display: grid;
    gap: 9px;
  }
  &__item {
    font-family: var(--font-filter);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #807e7e;
  }
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // &__text {
  // }
  &__input {
    // border: 1.5px solid #6c7275;
    // border-radius: 4px;
    // padding: 6px;
    // width: 24px;
    // height: 24px;

    // background: #fcfcfd;

    // &:checked {
    //   background-color: #141718;
    // }
  }

  // &__input[type='checkbox']:checked {

  //   background: #141718;

  //   stroke-width: 2px;
  //   stroke: #fcfcfd;
  // }
}

input[type='checkbox'] {
  position: relative;
  border: 1.5px solid #6c7275;
  border-radius: 4px;
  padding: 6px;
  width: 24px;
  height: 24px;

  background: #fcfcfd;

  cursor: pointer;
  appearance: none;
}

input[type='checkbox']:checked {
  background-color: #141718;
}
