:root {
  --container-width: 1150px;
  --container-padding: 15px;

  --font-main: 'Poppins', sans-serif;
  --font-second: 'Space Grotesk', sans-serif;
  --font-third: 'Inter', sans-serif;
  // --font-nav: 'Space Grotesk', sans-serif;
  // --font-link: 'Inter', sans-serif;

  // --font-titles: "Syne", sans-serif;
  // --font-descriptions: "Syne", sans-serif;
  // --font-cta: "Syne", sans-serif;
  // --font-label: "Syne", sans-serif;

  --font-filter: 'Inter', sans-serif;
  --font-catalog: 'Inter', sans-serif;
  --font-product-page: 'Inter', sans-serif;
  --font-popup: 'Inter', sans-serif;
  --font-cart-step: 'Inter', sans-serif;
  --font-cart-items: 'Inter', sans-serif;
  --font-checkout: 'Inter', sans-serif;
  --font-checkout-title: 'Poppins', sans-serif;
  --font-order-complete: 'Inter', sans-serif;
  --font-order-complete-title: 'Poppins', sans-serif;
  --font-account: 'Inter', sans-serif;
  --font-account-title: 'Poppins', sans-serif;

  --page-bg: #fff;
  --text-color: #141718;
  --accent: #6c7275;
  --title-color: #000;
  --nav-color: #6c7275;
  --btn-color: #141718;
  // --link-color: #222222;

  --card-product-title: #141718;
  --card-product-price: #121212;

  --cart-quantity-bg: #141718;

  --plate-bg: #f3f5f7;

  --promotion-bg: #f3f5f7;

  --value-bg: #f3f5f7;

  --newsletter-bg: #f3f5f7;

  --about-bg: #f3f5f7;

  --contact-info-plate-bg: #f3f5f7;

  --shop-greeting-bg: #f3f5f7;

  --cart-step-circle-color: #fcfcfd;
  --cart-step: #b1b5c3;
  --cart-step-active: #23262f;
  --cart-step-completed: #38cb89;
  --cart-items-color: #121212;
  --cart-summary-color: #121212;

  --checkout-label-color: #6c7275;

  --order-complete-label-color: #6c7275;

  --profile-li-color: #6c7275;

  --account-label-color: #6c7275;

  --footer-bg: #141718;

  // --media-2xl: 1536px;
  // --media-xl: 1280px;
  // --media-lg: 1024px;
  // --media-md: 768px;
  // --media-sm: 640px;
  // --media-xs: 426px;
}

// .dark {
// 	--page-bg: #252526;
// 	--text-color: #fff;
// }
