@use '../../styles/mixins';

.product {
  @include mixins.media-lg {
    padding-block: 16px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 16px;

    @include mixins.media-lg {
      flex-direction: column;
    }
  }

  &__media {
    max-width: 549px;
    max-height: 729px;
    width: 100%;

    @include mixins.media-lg {
      max-width: 100%;
    }
  }
  &__image {
    position: relative;
    padding-inline: 10px;
    text-align: center;
    height: 100%;

    @include mixins.media-lg {
      padding-block: 10%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.05;
      pointer-events: none;
    }

    img {
      width: 70%;
      height: 100%;
      object-fit: contain;

      @include mixins.media-lg {
        width: 40%;
      }

      @include mixins.media-md {
        width: 60%;
      }

      @include mixins.media-xs {
        width: 80%;
      }
    }
  }
  &__details {
    max-width: 508px;

    @include mixins.media-lg {
      max-width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 24px;

    border-bottom: 1px solid #e8ecef;

    font-family: var(--font-product-page);
  }
  &__rating-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #141718;
  }
  &__rating {
    height: 16px;
  }
  &__reviews {
  }
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #141718;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #6c7275;
  }
  &__price {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #121212;

    &::before {
      content: attr(data-value);
    }
  }

  &__actions {
    display: grid;
    gap: 16px;
    padding-block: 32px;

    border-bottom: 1px solid #e8ecef;

    font-family: var(--font-product-page);
  }
  &__actions-top {
    display: flex;
    justify-content: space-between;
    gap: clamp(8px, 0.214rem + 1.43vw, 24px);
  }
  &__actions-bottom {
  }
  &__quantity {
  }
  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #f5f5f5;
    border-radius: 8px;
    padding: clamp(7px, 0.348rem + 0.45vw, 12px)
      clamp(8px, 0.357rem + 0.71vw, 16px);
    width: 100%;
    max-width: clamp(90px, 4.964rem + 3.3vw, 127px);

    button {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;

      img {
        width: clamp(16px, 0.929rem + 0.36vw, 20px);
        height: clamp(16px, 0.929rem + 0.36vw, 20px);
      }
    }
  }
  &__count {
    font-weight: 600;
    font-size: clamp(12px, 0.679rem + 0.36vw, 16px);
    line-height: clamp(20px, 1.143rem + 0.54vw, 26px);
    text-align: center;
    color: #121212;

    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
  &__wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: 1px solid #141718;
    border-radius: clamp(4px, 0.179rem + 0.36vw, 8px);
    padding: clamp(4px, 0.143rem + 0.54vw, 10px) 40px;
    width: 100%;
    max-width: 357px;

    font-weight: 500;
    font-size: clamp(14px, 0.804rem + 0.36vw, 18px);
    line-height: 178%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141718;

    transition: all 0.2s ease-in;

    &:active {
      transform: scale(0.95);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
      transition: all 0.1s ease-out;
    }

    @include mixins.media-lg {
      max-width: 100%;
    }

    @include mixins.media-md {
      line-height: 171%;
      letter-spacing: normal;
    }

    img {
      width: clamp(16px, 0.839rem + 0.8vw, 25px);
    }
  }
  &__add-to-cart {
    border-radius: clamp(4px, 0.179rem + 0.36vw, 8px);
    padding: clamp(4px, 0.143rem + 0.54vw, 10px) 40px;
    width: 100%;
    background: #141718;

    font-weight: 500;
    font-size: clamp(14px, 0.804rem + 0.36vw, 18px);
    line-height: 178%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;

    transition: all 0.2s ease-in;

    &:active {
      transform: scale(0.95);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease-out;
    }

    @include mixins.media-md {
      line-height: 171%;
      letter-spacing: normal;
    }
  }

  &__meta {
    display: grid;
    grid-template-columns: 123px 1fr;
    row-gap: 8px;
    padding-block: 24px;

    font-family: var(--font-product-page);

    &-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      color: #6c7275;
    }

    &-value {
      font-weight: 400;
      font-size: 12px;
      line-height: 167%;
      color: #141718;
    }
  }
}
